html{
  height: 100%;
}

body {
  font-family: 'Baloo Da 2', sans-serif;
  background-color: #fdfaf6;
  color: #222;
  margin: 0;
  padding: 0;
  line-height: 1.8;
  height: 100%;
}

footer {
  text-align: center;
  padding: 0em;
  margin-top: 0em;
  background-color: #f8f1e4;
  color: #777;
  font-size: 0.95em;
  bottom: 0px;
  width: 100%;
  border: solid #f6e7cc ;
  box-shadow: 0 0 10px #ccc;
  border-top-left-radius: 70%;
}
footer a {
  color: #aa0033;
  text-decoration: none;
  font-weight: bold;
}
footer a:hover {
  text-decoration: underline;
}

.home-button {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #fff8dc;
  color: #aa0033;
  padding: 10px 15px;
  border-radius: 25px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  transition: all 0.3s ease;
  z-index: 999;
}

.home-button:hover {
  background-color: #fff0b3;
  transform: scale(1.3);
}